@using EPiServer.Framework.Web.Mvc.Html

@model IPageViewModel<SitePageData>

<!DOCTYPE html>
<html lang="@(Model.CurrentPage.Language)">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=10" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@Model.CurrentPage.MetaTitle</title>
    @if (Model.CurrentPage.MetaKeywords != null && Model.CurrentPage.MetaKeywords.Count > 0)
    {
        <meta name="keywords" content="@string.Join(",", Model.CurrentPage.MetaKeywords)" />
    }
    @if (!string.IsNullOrWhiteSpace(Model.CurrentPage.MetaDescription))
    {
        <meta name="description" content="@Model.CurrentPage.MetaDescription" />
    }
    @Html.CanonicalLink()
    @Html.AlternateLinks()
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon" />
    <link crossorigin="anonymous" href="~/js/index.js" rel="preload" as="script">
    <link href="~/css/index.css" rel="preload" as="style">
    <link href="~/css/index.css" rel="stylesheet">
    
    <required-client-resources area="Header" />
</head>

<body>
<div id="app">
    <ff-vue-button></ff-vue-button>
    @if (Model.Layout.IsInReadonlyMode)
    {
        await Html.RenderPartialAsync("Readonly", Model);
    }
    
    @await Html.RenderEPiServerQuickNavigatorAsync()
    
    
        @Html.FullRefreshPropertiesMetaData()
    
        @if (!Model.Layout.HideHeader)
        {
            await Html.RenderPartialAsync("Header", Model);
        }
    
    <main class="container">
        @RenderBody()
    </main>
    
        @if (!Model.Layout.HideFooter)
        {
            await Html.RenderPartialAsync("Footer", Model);
        }
</div>
    <required-client-resources area="Footer" />
    <script type="module" src="~/js/index.js"></script>
</body>
</html>
